.form-container{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error{
    background-color: #ff9595;
    border: 1px solid #ff6f6f;
    border-radius : 3px;
    padding: 5px;
}

.user-forms{
    padding: 25px;
    width:100%;
    padding: 5px;
    background-color: lightgrey;
    border-radius: 3px;
    border-bottom: 2px solid darkgrey;
    label{
        margin-top: 10px;
    }
    input[type="submit"]{
        margin-top : 15px;
    }
}