input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

pre{
  background: #292824;
  color: white;
  border-radius: 3px;
}

$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  @each $position in $positions{
    .#{$position}-m-#{$size} {
      margin-#{$position}: $size + px;
    }
    .#{$position}-p-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}

@each $size in $sizes {
  .m-#{$size} {
    margin: $size + px;
  }
  .p-#{$size} {
    padding: $size + px;
  }
}

.article-small{
   height: 200px;
   overflow-y: hidden;
   overflow-x: hidden;
   position: relative;
}

.article-small:after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 0%, 
     rgba(255,255,255, 0) 30%
  );
  pointer-events: none; /* so the text is still selectable */
}
