<div ng-app="admin" ng-controller="adminController" class="row">
    <div class="three columns">
        <h1>Settings</h1>
        <ul class="vertical-nav light">
            <li><a href="" ng-click="setView('Users')">Users</a></li>
            <li><a href="" ng-click="setView('Posts')">Posts</a></li>
            <li><a href="" ng-click="setView('Pages')">Pages</a></li>
            <li><a href="" ng-click="setView('Config')">Config</a></li>
        </ul>
    </div>
    <div class="nine columns">
        <div ng-show="currentView=='Users'" ng-controller="usersController">
            <h1>User Admin</h1>
            <hr/>
            <table ng-init="getUsers()" class="u-full-width">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Role</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{[{user.firstName}]}</td>
                        <td>{[{user.lastName}]}</td>
                        <td>{[{user.username}]}</td>
                        <td>
                            <select ng-options="role as role.name for role in $parent.roles track by role._id" ng-model="user.role">
                            </select>
                        </td>
                        <td>
                            <i class="fa fa-user fa-lg"></i>
                            <i class="fa fa-check fa-lg"></i>
                            <i class="fa fa-ban fa-lg"></i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <Label for="NewUser">Invite a new user</Label>
                        </td>
                        <td colspan="3"><input class="u-full-width" type="email" name="NewUser" placeholder="Enter email for invite" /> </td>
                        <td colspan="1" class="text-center"><i class="fa fa-plus-circle fa-2x"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="currentView=='Posts'">
            <h1>Edit Posts</h1>
            <hr/>
        </div>
        <div ng-show="currentView=='Pages'">
            <h1>Edit Pages</h1>
            <hr/>
        </div>
        <div ng-controller="configController" ng-show="currentView=='Config'">
            <h1>Configuration</h1>
            <hr/>
            <label for='blog_name'>Blog Name</label>
            <input type="text" ng-model='blogName' placeholder="{{title}}" id="blog_name"></input> <button>Save</button>
            <label for='tag_line'>Tag Line</label>
            <input type="text" ng-model='tagLine' placeholder="{{sub_title}}" id="tag_line"></input> <button>Save</button>

            <h5>Administration</h5>
            <hr/>
            <h6>User Roles</h6>
            <table class="u-full-width">
                <thead>
                    <th>Role</th>
                    <th>write</th>
                    <th>edit</th>
                    <th>delete</th>
                    <th>admin</th>
                    <th>action</th>
                </thead>
                <tr ng-repeat="role in $parent.roles">
                    <td>{[{role.name}]}</td>
                    <td>{[{role.permissions.write}]}</td>
                    <td>{[{role.permissions.edit}]}</td>
                    <td>{[{role.permissions.delete}]}</td>
                    <td>{[{role.permissions.admin}]}</td>
                    <td class="text-center"><button class="u-full-width"  ng-click="removeRole(role._id)">Delete</button></td>
                </tr>
                <tr>
                    <td><input ng-model="roleName" class="u-full-width" placeholder="Role name" type="text" /></td>
                    <td><input ng-model="canWrite" type="checkbox"/></td>
                    <td><input ng-model="canEdit" type="checkbox"/></td>
                    <td><input ng-model="canDelete" type="checkbox"/></td>
                    <td><input ng-model="isAdmin" type="checkbox"/></td>
                    <td class="text-center"><button class="u-full-width" ng-click="addRole()">Create</button>
                </tr>
            </table>


        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/admin.js"></script>