<div class="row">
    <div class="three columns">
        <h1>Settings</h1>
        <ul class="vertical-nav light">
            <li><a href="/">Users</a></li>
            <li><a href="/">Posts</a></li>
            <li><a href="/">Pages</a></li>
            <li><a href="/">Config</a></li>
        </ul>
    </div>
    <div class="nine columns">
        <h1>User Admin</h1>
        <hr/>
        <table class="u-full-width">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>Hunter</td>
                    <td>MacDonald</td>
                    <td>mactinite</td>
                    <td>
                        <select>
                            <option value="0">Admin</option>
                            <option value="1">Web Master</option>
                            <option value="2">Editor</option>
                            <option value="3">Author</option>
                            <option value="4">Read-only</option>
                        </select>
                    </td>
                    <td>
                        <i href class="fa fa-user"></i>
                        <i href class="fa fa-check"></i>
                        <i href class="fa fa-ban"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>