<article>
    <header>
        <h2>{{postData.title}}</h2>
        <p><small>By {{postData.author}} on {{formatTime postData.date "LLL"}} </small></p>
    </header>
    <section class="post-content">
        
        <div>{{md (concat a = "./data/blog/" b = postData.page_slug c = "/content.md")}}</div>
        
    </section>
    <footer>
        
    </footer>
</article>