<div class="row">
    <div class="twelve columns">
        <div ng-app="blogPosts" ng-controller="blogPostsController" ng-init="getBlogData(1)">
            <div id="fsLoader" ng-show="loading" class="loading">Loading&#8230;</div>
            <div ng-repeat="post in blogData">
                <article class="blog-post">
                    <header>
                        <div class="blog-title post-highlight">
                            <h2>
                                <a href="/blog-post/{[{post.page_slug}]}">{[{post.title}]}</a>
                            </h2>
                            <p><small>By <span ng-bind="post.author"></span> on {[{post.date | date}]}</span></small></p>
                        </div>

                    </header>
                    <section class="post-content">
                        <div marked="post.content"></div marked>
                    </section>
                    <footer>

                    </footer>
                </article>
            </div>
            <div ng-show="isLastPage" class="u-full-width text-center text-light">No more posts!</div>
            <a href class="mono-button u-full-width" ng-click="getBlogData(nextPage)" ng-hide="isLastPage"> Load More Posts</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/blog-posts.js"></script>