<h1>{{title}}</h1>
<p>Create a blog post using markdown. Here's a <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheatsheet</a>.</p>
<div ng-app="markedApp" ng-controller="markedController as marked">
    <p class='error' ng-bind="message" ng-if="message"></p>
    <label for="title">Post title: </label><input type="text" ng-model="marked.title" id="title" />
    <p>by <strong>{{user.username}}</strong></p>
    <textarea id="md-editor" ng-model="marked.inputText"></textarea>
    <p>Preview:</p>
    <div id="compiled-markdown" ng-bind-html="marked.outputText"></div>
    <button value="Save" ng-click="Submit()">Submit</button>
</div>


<script type="text/javascript" src="javascripts/post-editor.js">
</script>