/*
*   Blog Post Styling 
*/
article.blog-post {
  border-bottom: 2px solid #747474;
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: #d4d4d4;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  article.blog-post header {
    width: 100%; }
    article.blog-post header .post-highlight {
      border-top: 5px solid #669ed7; }
    article.blog-post header .post-success {
      border-top: 5px solid #3ea611; }
    article.blog-post header .post-error {
      border-top: 5px solid #f45169; }
    article.blog-post header .post-warning {
      border-top: 5px solid #ec7c5b; }
    article.blog-post header .blog-title {
      padding: 15px 0px 0px 15px;
      margin-bottom: 0px; }
      article.blog-post header .blog-title h2 {
        padding-bottom: 0px;
        margin-bottom: 0px; }
        article.blog-post header .blog-title h2 a {
          text-decoration: none;
          color: black; }
      article.blog-post header .blog-title p {
        margin-top: -15px;
        padding: 15px 0px 0px 15px; }
  article.blog-post .post-content {
    padding: 15px; }

/*
*  Forms
*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column; }

.flash {
  width: 100%;
  background-color: lightgrey;
  border-radius: 3px;
  border-bottom: 2px solid darkgrey;
  margin-bottom: 5px;
  overflow: hidden; }
  .flash .message {
    padding: 5px;
    height: 100%;
    width: 100%; }
  .flash .highlight {
    border-top: 5px solid #669ed7; }
  .flash .success {
    border-top: 5px solid #3ea611; }
  .flash .error {
    border-top: 5px solid #f45169; }
  .flash .warning {
    border-top: 5px solid #ec7c5b; }

form {
  width: 100%;
  background-color: lightgrey;
  border-radius: 3px;
  border-bottom: 2px solid darkgrey;
  margin-bottom: 5px; }
  form .user-forms {
    padding: 5px; }
    form .user-forms label {
      margin-top: 10px; }
    form .user-forms input[type="submit"] {
      margin-top: 15px; }

.body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #e2f1f1; }

code {
  background-color: #20201d;
  color: #a6a28c;
  border-radius: 3px; }

.text-center {
  text-align: center; }

.text-light {
  color: gray; }

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0; }

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

#md-editor {
  width: 100%;
  height: 30vh; }

#compiled-markdown {
  width: 100%;
  overflow-y: auto;
  overflow-x: wrap;
  margin-bottom: 10px; }

#post-preview {
  margin: 10px; }
  #post-preview a {
    color: black;
    text-decoration: none; }

/*
*   Site Header
*/
.site-header {
  margin: 0px;
  margin-bottom: 25px;
  background-color: #20201d;
  width: 100%;
  height: 75px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%; }
  .site-header .site-title {
    height: 100%; }
    .site-header .site-title .title {
      margin: 0px;
      padding: 0px; }
      .site-header .site-title .title a {
        color: #d4d4d4;
        text-decoration: none; }
    .site-header .site-title .sub-title {
      margin: 0px;
      margin-top: -5px;
      padding: 0px;
      color: #bbbbbb; }
  .site-header ul.header-group {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: block;
    height: 100%; }
    .site-header ul.header-group li {
      margin: 0px;
      float: left;
      padding: 0;
      height: 100%; }
      .site-header ul.header-group li a {
        display: block;
        height: 100%;
        font-size: 1.25em;
        text-align: center;
        line-height: 65px;
        padding: 5px 5px;
        text-decoration: none;
        color: #d4d4d4; }
        .site-header ul.header-group li a:hover {
          background-color: #d4d4d4;
          color: black; }
      .site-header ul.header-group li span {
        display: block;
        height: 100%;
        font-size: 1em;
        text-align: center;
        line-height: 65px;
        padding: 5px 10px;
        color: #d4d4d4; }

.mono-button {
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.25s;
  display: block;
  height: 30px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.25em; }
  .mono-button:hover {
    cursor: pointer;
    cursor: hand;
    color: white;
    background-color: #747474; }

.vertical-nav.light {
  list-style-type: none; }
  .vertical-nav.light li {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.25em;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; }
    .vertical-nav.light li a {
      transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.25s;
      display: block;
      height: 30px;
      text-decoration: none;
      color: black;
      background-color: white;
      width: 100%; }
      .vertical-nav.light li a:hover {
        color: white;
        background-color: #747474; }
    .vertical-nav.light li:first-child {
      border-radius: 3px 3px 0px 0px;
      margin-top: 0;
      border-top: 1px solid black; }
    .vertical-nav.light li:last-child {
      border-radius: 0px 0px 3px 3px;
      margin-top: 0;
      border-bottom: 1px solid black; }
