<footer class="footer">
    <div class="container">
        
        <div class="level">
            <p class="level-item has-text-centered">&copy;&nbsp;{{current-year 0}} Hunter MacDonald</p>

        </div>
    </div>
</footer>