<nav class="navbar is-black">
    <div class="navbar-brand">
        <div class="navbar-item">
                <p class="title"><a href="/">{{title}}</a></p>
        </div>
        <div class="burger navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Blog</a>
            <a class="navbar-item" href="/">About</a>
            <a class="navbar-item" href="/">Contact</a>  
        </div>
    </div>

</nav>