/*
*   Blog Post Styling 
*/

article.blog-post {
    border-bottom: 2px solid $secondary-color;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: $primary-color;
    padding: 25px;
    border: 5px solid $secondary-color;
    border-style: double;
    overflow: hidden;
    -webkit-box-shadow: -10px 10px 0px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 10px 0px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 10px 0px -3px rgba(0, 0, 0, 0.75);
    header {
        width: 100%;
        .post-highlight h2:after {
            content: '\f1ea';
            font-family: FontAwesome;
            right: 15px;
            position: absolute;
        }
        .post-warning h2:after {
            content: "\f12a";
            font-family: FontAwesome;
            right: 15px;
            position: absolute;
        }
        .blog-title {
            color: $background-color;
            background-color: $secondary-color;
            margin: -25px;
            padding-left: 15px;
            margin-bottom: 0px;
            h2 {
                padding-bottom: 0px;
                margin-bottom: 0px;
                a {
                    text-decoration: none;
                    color: $background-color;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            p {
                margin-top: -25px;
                padding: 15px 0px 0px 15px;
            }
        }
    }
    .post-content {
        padding: 15px;
    }
}