
/*
*  Forms
*/

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.flash {
    width: 100%;
    background-color: lightgrey;
    border-radius: 3px;
    border-bottom: 2px solid darkgrey;
    margin-bottom: 5px;
    overflow: hidden;
    .message{
        padding: 5px;
        height: 100%;
        width: 100%;
    }
    .highlight{
        border-top: 5px solid $highlight-color;
    }
    .success{
        border-top: 5px solid $success-color;
    }
    .error { 
        border-top: 5px solid $error-color;
    }
    .warning{
        border-top: 5px solid $warning-color;
    }
}
form {
        width: 100%;
        background-color: lightgrey;
        border-radius: 3px;      
        margin-bottom: 5px;
    .user-forms {
        -webkit-box-shadow: -10px 10px 0px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 10px 0px -3px rgba(0,0,0,0.75);
        box-shadow: -10px 10px 0px -3px rgba(0,0,0,0.75);
        padding: 25px;
        border: 5px solid $secondary-color;
        border-style: double; 
        h1.form-header{
            
            background-color: $secondary-color;
            margin: -25px;
            margin-bottom: 0px;
            top :0px;
             
            color: $background-color;
        }   
        label {
            margin-top: 10px;
        }
        input[type="submit"] {
            margin-top: 15px;
        }
    }
}
