/*
*   Site Header
*/

.site-header {
    margin: 0px;
    margin-bottom: 25px;
    background-color: #20201d;
    width: 100%;
    height: 75px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    .user-info {
        margin: 0.67em 0;
    }
    h1{
        margin: 0px;
    }
    .user-info{
        p{
            margin : auto;
        }
        margin:0px;
        margin-left: auto;
    }

}