
$primary-color : #d4d4d4;
$secondary-color: #747474;
$background-color : #f8f8f8;
$secondary-background-color : #20201d;

$highlight-color: #669ed7;
$error-color: #f45169;
$warning-color: #ec7c5b;
$success-color : #3ea611;