<div ng-app="admin" ng-controller="adminController" class="section">

    <div class="container columns">
        <div class="column menu">
            {{#if permissions.admin}}
            <p class="menu-label">Administration</p>
            <ul class="menu-list">
                <li>
                    <a href="" ng-class="{'is-active' : currentView=='Users'}" ng-click="setView('Users')">
                        <span class="icon is-pulled-left right-m-20">
                            <i class="fa fa-users"></i>
                        </span>                        
                        Users 
                    </a>
                </li>
            </ul>
            {{/if}}
            <p class="menu-label">Blog</p>
            <ul class="menu-list">
                <li>
                    <a href="" ng-class="{'is-active' : currentView=='Posts'}" ng-click="setView('Posts')">
                        <span class="icon is-pulled-left right-m-20">
                            <i class="fa fa-file-text"></i>
                        </span>                        
                        Posts 
                    </a>
                </li>
                <li>
                    <a href="" ng-class="{'is-active' : currentView=='Pages'}" ng-click="setView('Pages')">
                        <span class="icon is-pulled-left right-m-20">
                            <i class="fa fa-file"></i>
                        </span>                        
                        Pages 
                    </a>
                </li>
            </ul>
            <p class="menu-label">Settings</p>
            <ul class="menu-list">
                <li>
                    <a href="" ng-class="{'is-active' : currentView=='Config'}" ng-click="setView('Config')">
                        <span class="icon is-pulled-left right-m-20">
                            <i class="fa fa-cog"></i>
                        </span>                        
                        Config 
                    </a>
                </li>
                <li>
                    <a href="" ng-class="{'is-active' : currentView=='Profile'}" ng-click="setView('Profile')">
                        <span class="icon is-pulled-left right-m-20">
                            <i class="fa fa-user"></i>
                        </span>                        
                        Profile 
                    </a>
                </li>
            </ul>
        </div>
        <div class="column box is-three-quarters">
            {{> users}} {{> posts}} {{> pages}} {{> config}} {{> profile}}
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/admin.js"></script>