<div ng-app="admin" ng-controller="adminController" class="section">
    <h1>Settings</h1>
    <div class="container columns">
        <div class="column menu">
            <ul class="menu-list">
                <li><a href="" ng-click="setView('Users')">Users</a></li>
                <li><a href="" ng-click="setView('Posts')">Posts</a></li>
                <li><a href="" ng-click="setView('Pages')">Pages</a></li>
                <li><a href="" ng-click="setView('Config')">Config</a></li>
            </ul>
        </div>
        <div class="column box is-three-quarters">
            {{> users}}
            {{> posts}}
            {{> pages}}
            {{> config}}
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/admin.js"></script>