<div class="section">
    <div class="container">
        <markdown ng-app="blogPosts" ng-controller="blogPostsController" ng-init="getBlogPostData('{{slug}}')"/>
        <div class="columns is-centered">
            <div class="box column is-two-thirds">
                <h3 class="title is-3" ng-bind="blogPostData.title">                </h3>
                <h4 class="subtitle is-4">
                    <small>By <span ng-bind="blogPostData.author.username"></span> on {[{blogPostData.date | date}]}</span></small>
                </h4>
                <hr/>
                <div class="content is-small" ng-bind-html="blogPostData.content.html"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/blog-posts.js"></script>