<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{error.status}}
      </h1>
      <h2 class="subtitle">
        {{message}}
      </h2>
    </div>
  </div>
</section>

<div class="section">
    <pre>{{error.stack}}</pre>
</div>
