<div class="section">
    <div ng-app="blogPosts" ng-controller="blogPostsController" ng-init="getBlogData(1)" class="container">
        <div class="columns is-multiline">
            <div ng-repeat="post in blogData" class="column" ng-class="{'is-12': $first, 'is-one-third': !$first}">
                <article ng-if="!$first" class="box">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <h5 class="title is-5">
                                <a href="/blog-post/{[{post.page_slug}]}" ng-bind="post.title"></a>
                            </h5>
                            <h6 class="subtitle is-6">
                                <p><small>By <span ng-bind="post.author"></span> on {[{post.date | date}]}</span></small></p>
                            </h6>
                            <div class="content is-small article-small" ng-bind-html="post.content.html"></div>
                        </div>
                        <div class="column is-12 bottom-p-25 top-p-0">
                            <div class="level">
                                <div class="level-item has-text-centered">
                                    <a href="/blog-post/{[{post.page_slug}]}" class="button is-outline is-small">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article ng-if="$first && !$last" class="hero is-small is-bold">
                    <div class="hero-body">
                        <h2 class="title is-2">
                            <a href="/blog-post/{[{post.page_slug}]}" ng-bind="post.title"></a>
                        </h2>
                        <h6 class="subtitle is-6">
                            <p><small>By <span ng-bind="post.author"></span> on {[{post.date | date}]}</span></small></p>
                        </h6>
                        <div class="content is-normal is-pulled-left" ng-bind-html="post.content.html"></div>
                    </div>
                    <!--<div class="content is-small" marked="post.content"></div>-->
                </article>

            </div>
        </div>
        <div class="level">
            <div class="level-item has-text-centered">
                <button class="button is-outlined is-small" ng-click="getBlogData(nextPage)" ng-disabled="isLastPage" ng-class="{'is-loading':loading}">
                    <div ng-hide="isLastPage" class="level-item">Load More</div>
                    <div ng-show="isLastPage" class="level-item">No more posts!</div>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/blog-posts.js"></script>