<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="box column is-half is-narrow">
                {{#if messages}}
                <div class="flash">
                    <div class="message error">{{messages}}</div>
                </div>
                {{/if}}
                <h1 class="title">
                    {{page_title}}
                </h1>
                <form action="/register" method="post">
                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <input class="input" id="username" name="username" type="text" />
                    </div>

                    <div class="field">
                        <label class="label" for="email">Email</label>
                        <input class="input" class="u-full-width" id="email" name="email" type="email" />
                    </div>
                    <div class="field">
                        <label class="label" for="firstName">First Name</label>
                        <input class="input" class="u-full-width" id="firstName" name="firstName" type="text" />
                    </div>

                    <div class="field">
                        <label class="label" for="lastName">Last Name</label>
                        <input class="input" class="u-full-width" id="lastName" name="lastName" type="text" />
                    </div>

                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <input class="input" class="u-full-width" id="password" name="password" type="password" />
                    </div>

                    <div class="level">
                        <div class="level-item has-tyext-centered">
                            <input class="button is-primary" type="submit" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>